
services:
  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    env_file:
      - .env
    ports:
      - "5173:5173"
    depends_on:
      - backend
